services:
  bot:
    build: .
    environment:
      APIKEY: key
      CALLBACK_ORIGIN: origin
      JWT_SECRET: jwtSecret
      SERVER_PORT: port
      URI_MASTER: uri-masterkey
    ports:
      - 38080:38080
    volumes:
      - ./data-compose:/data
  db:
    image: postgres:18-alpine
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: botuser_alpha
      POSTGRES_PASSWORD: testpassword_alpha
      POSTGRES_DB: botdb_alpha
    ports:
      - "5432:5432"
    expose:
      - 5432
    volumes:
      - ./compose-test/db:/var/lib/postgresql/data:rw
